html {
  font-family: "Open Sans", sans-serif;
  background-color: #900C3F;
  font-size: 15px;
}

body {
  width: 600px;
  margin: 10px auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-color: #DAF7A6;
}

h1 {
  text-align: center; 
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

